*, body{font-family: 'Dongle', sans-serif;}
*, h1{color: black;}
*, footer{align-self: center;}
*, div{font-size: 20px;}

.p {
    background-color: lightpink;
    font-size: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-style: outset;
    max-width: 45%;
    margin: auto;
}
ul{list-style: none;}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color:chocolate;
}

.flex-container > li {
    background-color:aliceblue;
    margin: 10px;
    padding: 30px;
    font-size: 25px;
    text-align: center;
    line-height: 20px;
    justify-content: space-between;
    color:midnightblue;
    border-style: outset;
}
.formcenter {
    display: flex;  
    flex-flow: column;
    justify-content: center;
    background-color:burlywood;
	padding: 1.5em;
    width: 300px;
    left: 575px;
    border-radius: 5px;
    border-style: outset;
    position: relative;
}
.center {
    display: flex;  
    flex-flow: wrap;
    justify-content: center;
}

@media (max-width: 480px){
    .flex-item {
        flex: 45%;
        flex-grow: 0;
        margin: 80px auto 0;
    }
    .p {
        background-color: lightpink;
        font-size: 25px;
        display: flex;
        border-style: outset;
        max-width: 55%;
        margin: auto;
    }
    .formcenter {
        display: flex;  
        flex-flow: column;
        justify-content: center;
        background-color:burlywood;
        padding: 1.5em;
        border-radius: 5px;
        border-style: outset;
        position: relative;
        left:-15px;
    }
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        color:chocolate;
    }
}